@font-face {
    font-family: harry-potter;
    src: url(./fonts/HARRYP__.TTF);
}

@font-face {
    font-family: xefora;
    src: url(./fonts/Xefora-vp34.ttf);
}

:root {
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: harry-potter;
    overflow: hidden;
}

.hero { 
    width: 70vw;
    height: 100vh;
}

.hero>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    background-color: #F3F2F2;
    text-align: center;
}

.panel {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: xefora;
    font-weight: 400;
    gap: 20px;
}

h1 {
    font-size: 80px;
    font-weight: 560;
    color: #2A623D;
    margin: 30px;
}

.text {
    border: 1px dashed #2A623D;
    width: 90%;
    color: #2A623D;
    font-size: 25px;
}

.form {
    width: 100%;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #2A623D;
    background-color: #FAF9F9;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
}

.form-element {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}

.form-element>input {
    width: 80%;
    height: 30px;
    background-color: FAF9F9;
    border: 1px solid #AAAAAA;
    font-family: xefora;
    font-size: 25px;
}

.focus{
    outline: 1px solid #EEBA30;
    border: 1px solid #EEBA30;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.18);
}

.submit {
    width: 40%;
    height: 50px;
    font-family: xefora;
    font-size: 30px;
    margin-top: 30px;
    background-color: #CFCCCC;
    color: #2A623D;
    border-style: none;
}

.submit:hover {
    cursor: pointer;
    
}


.signature {
    height: 35px;
    width: 400px;
    color: white;
    background-color: black;
    opacity: 50%;
    position: absolute;
    top: 950px;
    left: 0px;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.log-in-message {
    display: flex;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.log-in-message>a{
    text-decoration: none;
    color: #2A623D;
}

@media(max-width: 1500px) {
    body {
        flex-direction: column;
        background-color: #F3F2F2;
    }
    .hero { 
        width: 103vw;
        height: 30vh;
    }

    .content {
        width: 100vw;
        height: 70vh;
    }

    .panel {
      width: 100vw;  
    }

    .form {
        width: 100vw;
    }

    h1 {
        font-size: 40px;
        margin: 10px;
    }

    .text {
        font-size: 15px;
        width: 80%;
    }

    .form-element {
        font-size: 18px;
    }

    .form-element>input {
        height: 20px;
        font-size: 10px;
    }

    .log-in-message {
        font-size: 15px;
    }

    .submit {
        font-size: 15px;
    }

    .signature {
        position: absolute;
        padding-top: 3px;
        top: 0;
        left: 0;
        width: 100vw;
        background-color: #AAAAAA;
        color: #2A623D;
        font-size: 15px;
        text-align: center;
        height: 22px;
    }
}